.taglabel-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--sm);
    justify-content: flex-start;
    padding: 0 var(--xxl);
    .tags-label {
        text-align: center;
        margin: 0;
        white-space: nowrap;

    }
    .tag-section {
        background: var(--neutral-1);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: var(--xs);
        flex-wrap: nowrap;
        padding-right: 5px;
        button {
            display: flex;
            &:hover {
                border-color: var(--neutral-2);
                background: var(--white);
                transition: .1s ease-in-out;
                transform: translate(1px, 2px);
                cursor: pointer;
                box-shadow: none;
                color: var(--text);

            }
        
        }
        .active {
            border: 2px solid var(--neutral-2);
                transform: translate(1px, 2px);
                box-shadow: none;
                background: var(--neutral-2);
                color: var(--text);
            &:hover {
                border-color: var(--neutral-2);
                background: var(--neutral-1);
                color: var(--deep-3);
                

            }
        }
    }
}


.page-heading {
    display: flex;
    padding: var(--lg) var(--xxl) 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--lg);
    align-self: stretch;
    flex-wrap: wrap;
    margin: 0;
    color: var(--subtext);
    text-align: left;
}
.project-section {
    display: flex;
    padding: var(--lg) var(--xxl);
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    gap: var(--md-2);
    .project-card {
        width: calc(33% - var(--sm));
        border-radius: var(--xl);
        background: var(--white);
        border: 2px solid var(--white);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;

        /* card-shadow */
        box-shadow: var(--card-shadow);
        .visual-wrapper {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 0 var(--radius-lg) var(--radius-lg);
            .projectCard-visual {
                display: flex;
                height: 250px;
                object-fit: cover;
                align-self: center;
                justify-self: center;
                min-width: 100%;
            }
        }
        .projectCard-content {
            display: flex;
            padding: var(--sm) var(--md) var(--lg);
            flex-direction: column;
            align-items: flex-start;
            gap: var(--sm);
            .projectCard-title {
                color: var(--links);
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                align-self: stretch;
                overflow: hidden;
                text-align: left;
                margin: 0;
    
            }
            .projectCard-description {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                align-self: stretch;
                overflow: hidden;
                text-align: left;
                margin: 0;
    
            }
            .card-tags {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-start;
                width: 100%;
                padding-top: var(--xxs);
                box-shadow: none;
                
            }
        }
        &:hover {
            border: 2px solid var(--neutral-2);
            background: var(--white);
            box-shadow: none;
            transition: .1s ease-in-out;
            transform: translate(2px, 4px);
            .projectCard-title {
                text-decoration: underline;
                color: var(--deep-2);
            }
        }
        &:active {
            border: 2px solid var(--deep-2);
            background: var(--neutral-1);
            box-shadow: none;
            transition: 0.1s ease-in-out;
        }
    }
}