@media only screen and (max-width: 992px) {
    .project-section {
        .project-card {
            width: calc(50% - var(--sm));
        }
    }
    .data-header {
        .data-visual {
            flex: 1;
        }
    }
    .taglabel-section {
        padding: var(--xs) 0 0 var(--xxl);
        flex-direction: row;
        gap: var(--xs);
        justify-content: flex-start;
        align-items: flex-start;
        .tag-section {
            flex-wrap: wrap;
        }
        .tag-section-label {
                text-align: left;
            }
    }
}
@media only screen and (max-width: 768px) {
    :root {
        --xxs: 3px;
        --xs: 8px;
        --sm: 12px;
        --md: 16px;
        --md-2: 20px;
        --lg: 28px;
        --xl: 34px;
        --xxl: 42px;
    }
    .project-section {
        .project-card {
            width: 100%;
        }
    }
    .navbar {
        width: calc(100% - var(--md-2));
        padding: var(--md) var(--md-2) var(--xxl);

    }
    .navbar:has(+ * + .project-page) {
        padding: var(--sm) var(--md-2) 0;
        height: 51px;
    }
    .shrink {
        padding: var(--sm) var(--md-2) 0;
        height: 51px;
        .brand {
            align-self: flex-start;
        }
    }
    .page-wrap {
        margin-top: 300px;
    }
    .project-page {
        margin-top: 63px;
    }
    .taglabel-section {
        padding: 0 0 0 40px;
        .tag-section {
            /* justify-content: flex-start; */
            /* padding: var(--xs); */
        }
        .tag-section-label {
                text-align: left;
            }
    }
    
    
}

@media only screen and (max-width: 600px) {
    .taglabel-section {
        ::-webkit-scrollbar {
            /* display: none; */
        }
        /* align-items: center; */
        /* overflow: scroll; */
        /* -ms-overflow-style: none;  IE and Edge */
        /* scrollbar-width: none;  Firefox */
        .tag-section {
            /* flex-wrap: nowrap; */
            padding: 10px 0;
        }
    }
    .project-section {
        padding: var(--md-2);
        .project-card {
            .visual-wrapper {
                height: 200px;
                .projectCard-visual {
                    width: 100%;
                }
            }
            .projectCard-content {
                padding: var(--sm) var(--md) var(--lg);
                gap: var(--sm);
            }
        }
        
    }
    .data-header {
        flex-direction: column-reverse;
        padding: 20px 20px 0;
    }
    .page-wrap {
        margin-top: 240px;
    }
    .project-page {
        margin-top: 0px;
    }
    .dataCards-section {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        padding: 20px;
    }
    .data-section {
        padding: 20px;
        gap: 10px;
        .data-wrap {
            gap: 15px;
            .data-content {
                flex-direction: column;
                gap: 0;
            }
        }
    }
    .resume-page {
        flex-direction: column;
        gap: 0px;
    }
    .navbar {
        padding: var(--md-2) var(--md);        ;
        width: calc(100% - var(--lg));
        .navLinks {
            display: none;
        }
    }
    .navbar:has(+ * + .project-page) {
        padding: var(--md) var(--md) 0;
        height: 51px;
    }
    .shrink {
        height: 36px;
        padding: var(--md);
        .navbarSkinny {
            min-height: 25px;
        }
    }
    .navLinks-mobile {
        display: inline-block;
        z-index: 10000;
        position: sticky;
        top: 18px;
        margin: 24px 20px;
        .ham {
            display: flex;
            justify-content: flex-end;
            .bm-menu {
                background: var(--deep-2);
                max-width: 100%;
                .bm-cross-button {
                    width: 35px;
                    top: 15px;
                    right: 15px;
                    background: none;
                    border: none;
                    height: 45px;
                    .bm-cross {
                            padding: 0;
                            border: none;
                            min-height: 35px;
                            background: var(--shallow-2);
                            
                        }
                    &:hover .bm-cross, &:active .bm-cross {
                        background: var(--neutral-1);
                    }
                    }
               
                }
            }
            .bm-burger-button {
                display: flex;
                position: sticky;
                top: 10px;
                right: 10px;
                .bm-burger-bars {
                    border: none;
                    background-color: var(--shallow-2);
                    padding: 0px;
                    height: 3px;
                    
                }
                &:active .bm-burger-bars, &:hover .bm-burger-bars {
                        background-color: var(--neutral-1);
                    }
                    
            }  a {
                font-weight: 700;
                letter-spacing: 1px;
                color: var(--neutral-1);
                display: flex;
                padding: var(--sm) var(--xs);
                justify-content: center;
                align-items: center;
                border-bottom: 2px solid var(--deep-2, #1C2755);
                color: var(--shallow-2, #B5D2FF);
                text-align: center;
                height: 30px;
                &:hover {
                    border-bottom-color: var(--shallow-2);
                }
                &.router-link-exact-active, &:active {
                    border-bottom-color: var(--neutral-1, #E7E7ED);
                    color: var(--neutral-1);
                }
                &:active svg {
                    fill: var(--neutral-1);
                }
                }
                h3 {
                color: var(--neutral-1);
                font-weight: 700;
                }
                h4 {
                    color: var(--neutral-1);
                    max-width: 620px;
                }
                .logo {
                height: 36px;
                path {
                    fill: var(--neutral-1);
                }
              }
              .bm-item-list {
                margin: 0;
                display: flex;
                flex-direction: column;
                height: calc(100% - 60px);
                justify-content: space-between;
                align-items: center;
                .mobile-links {
                    padding: 60px;
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                }
                .social-links {
                    gap: var(--xxl);
                }
                
              }
        }
    .resume-page {
        margin-top: 240px;
        padding: var(--lg) var(--md);
    }   
}
@media (hover: none)  {
    
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
}
.visual-wrapper {
    display: flex;
    align-items: center;
}
.projectCard-visual {
    display: flex;
    align-items: center;
}
.projectCard-content {
    display: flex;
}